@import './base.css';

/* 设置最大宽度适配手机 */
#app {
  max-width: 420px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

a,
.blue {
  text-decoration: none;
  color: hsla(196, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(196, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
